body[data-theme='dark'] {
	--color-text: #f5eded;
	--color-text-second: #acacac;
	--color-bg: #121212;
	--color-bg-second: #282828;
	--color-ui: #d72323;
	--color-ui-second: #3e3636;
	--color-divider: #373737;
}

body[data-theme='light'] {
	--color-text: #121212;
	--color-text-second: #5a5a5a;
	--color-bg: #f5f5f5;
	--color-bg-second: #ffffff;
	--color-ui: #f05454;
	--color-ui-second: #30475e;
	--color-divider: #eeeeee;
}
