@use './normalize';
@use './themes';

body {
	background: var(--color-bg);
	color: var(--color-text);
}

::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-track {
	background: var(--color-bg-second);
}

::-webkit-scrollbar-thumb {
	background: var(--color-ui);
	border-radius: 8px;
}
