.navbar {
	width: 250px;
	min-height: calc(100vh - 100px);
	background: var(--color-bg-second);
	padding: 20px;

	@media (max-width: 768px) {
		display: none;
	}

	.tasks {
		width: 200px;

		ul {
			display: flex;
			flex-direction: column;
			gap: 10px;

			li {
				width: 100%;
				height: 30px;
				border-radius: 4px;
				display: flex;
				align-items: center;
				padding: 0px 10px;
				color: var(--color-text);
				cursor: pointer;
				transition: all 0.4s;

				&.active {
					background: rgba(#f05454, 0.15);
					transition: all 0.4s;
				}
			}
		}
	}
}
