.awards {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 20px;

	.header {
		display: flex;
		align-items: center;
		justify-content: center;

		h1 {
			color: var(--color-text);
			font-weight: 300;
		}
	}

	.content {
		max-width: 1280px;
		margin: 0 auto;
		width: 100%;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		place-items: center;
		gap: 20px;

		@media (max-width: 1200px) {
			grid-template-columns: 1fr 1fr;
		}

		@media (max-width: 900px) {
			grid-template-columns: 1fr;
		}

		@media (max-width: 768px) {
			grid-template-columns: 1fr 1fr;
		}

		@media (max-width: 630px) {
			grid-template-columns: 1fr;
		}
	}
}
